# dependencies
node_modules

# compiled output
dist

# System Files
.DS_Store
.eslintcache

# Next.js
.next
out

# env files (can opt-in for committing if needed)
#.env*

# typescript
*.tsbuildinfo
next-env.d.ts